/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
  font-family: "Capitolium";
  src: url("../fonts/Capitolium/Capitolium\ RegularRoman.otf");
  src: url("../fonts/CapitoliumHead/CapitoliumHead 2 W03 Regular.ttf");
  src: url("../fonts/BentonSans/BentonSans Medium.otf")
}

/*@media (min-width: 600px) {
img {width: 20vw;}

figure figcaption {
font-size:30px;}

section article p {
font-size:30px;}

footer {
font-size: 30px;}
*/

ul {
    padding: 0;
}

figure {
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    font-family: Capitolium;
    margin-right: 1em;
}

main header ul li {
    justify-content: space-between;
}
    
header nav  {
    overflow-x: auto; 
    overflow-y: hidden;
    top: 0;
    height: 50px;
}

header nav ul {
   display: flex;
   font-family: 'Merriweather';
   max-width: 350%;
   width: 350%;
   height: 100%;
   list-style: none;
   background-color: white;
   justify-content: space-around;
}

header nav ul li a {
    color: black;
    text-decoration-line: none;
}

header section img { 
width: 100%;
}


main section article img {
  width: 60px;
}

header nav .active {
    padding-bottom: 8px;
    border-bottom: 4px solid #000;
}



img {
   
    border-bottom: 0.5px solid black;
}

h1 {
    padding-top: 0.3em;
    border-top: 5px solid #008bc3;
    font-size: 35px;
    margin-bottom: 1em;
}

h2 {
    padding-top: 0.3em;
    border-top: 5px solid #008bc3;
    font-size: 35px;
}

figcaption {
    font-size: 20px;
    width: 100vw;
}

p {
    font-size: 20px;
    width: 60vw;
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 1.5em;
   
}

footer {
    list-style-type: none;
    width: 100vw;
    padding-top: 2em;
    padding-bottom: 2em;
}

footer a {
    text-decoration-line: none;
    color: black;
}

.bold {
    font-weight: bold;
    color: black;
    line-height: 2;
}

.nieuws {
    width: 100vw;
    margin-right: 20px;
    margin-left: 20px;
}




.voetbal {
    width: 100vw;
}

.politiek {
    width: 100vw;
}

figure {
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.artikelen {
    width: 100vw;
}

.hoogte-img {
    width: 100vw;
}

figcaption {
   margin-left: 1em;
}

.nieuws2 {
    font-family: "CapitoliumHead";
    width: 100vw;
    font-size: 22px;
    margin-bottom: 30px;
    
}

p {
    margin: 0em;
    font-weight: 900;
    margin-left: .2em;
    margin-right: .2em;
}

.nietbold {
    font-size: 1em;
    margin-bottom: 1em;
}

.martelkamer {
    width: 100vw;
    margin-right: 20px;
}

main aside nav {
  overflow-x: auto; 
  overflow-y: hidden;
  height: 50px;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

main aside nav ul  {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-family: 'Benton-Light';
    font-size: 14px;
    height: 100%;
    background-color: white;
    color: black;
    padding-top: 0.5em;
    text-decoration: none;
    border-top: 1px solid black;
}

main aside nav ul li a {
    text-decoration-line: none;
    color: black;
}

article figcaption {
    margin-left: 0;
    width: 100vw;
    font-size: 22px;
}

article p {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    font-size: 20px;
    padding-bottom: 1em;
    font-weight:700;
    padding-top: 0.3em;
}

section article {
    margin-top: 2em;
    margin-bottom: 2em;
}

section article p {
    margin-top: 0;
    font-size: 25px;
    
}


