/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
  font-family: "Capitolium";
  src: url("../fonts/Capitolium/Capitolium\ RegularRoman.otf");
  src: url("../fonts/CapitoliumHead/CapitoliumHead 2 W03 Regular.ttf");
  src: url("../fonts/BentonSans/BentonSans Medium.otf")
}


body {
    margin-left: 0.5em;
    margin-right: 0.1em;
    width: 100vw;
    font-family: Capitolium;
}

header nav  {
    overflow-x: auto; 
    overflow-y: hidden;
    top: 0;
    height: 50px;
    background-color: ghostwhite;
    position: sticky;
   
    

}

header nav ul {
   display: flex;
   font-family: 'Merriweather';
   max-width: 350%;
   width: 350%;
   height: 100%;
   list-style: none;
   background-color: white;
   justify-content: space-around;
    
}

header section img { 
width: 100%;
}


main section article img {
  width: 60px;
}



img {
    margin-top: 20px;
    border-bottom: 0.5px solid black;
}

h1 {
    padding-top: 0.3em;
    border-top: 5px solid #008bc3;
    font-size: 35px;
}

figcaption {
    font-size: 20px;
    width: 80vw;
}

p {
    font-size: 20px;
    width: 60vw;
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 1.5em;
   
}

footer {
    list-style-type: none;
    width: 100vw;
    padding-top: 2em;
    border-top: 60px solid #DCDCDC;
    padding-bottom: 2em;
}

footer ul li {
    list-style-type: none;
    text-align: left;
    
}

.bold {
    font-weight: bold;
    color: black;
    line-height: 2;
}

.nieuws {
    width: 100vw;
    margin-right: 20px;
    margin-left: 20px;
}




.voetbal {
    border-top: 10px solid grey;
    width: 100vw;
}

.politiek {
    border-top: 10px solid grey;
    width: 100vw;
}

figure {
    display: flex;
    justify-content: space-around;
    align-items:center;
    border-bottom: 3px solid #eaeaea;
    
}

body main section img {
    margin-bottom: 10px
}

.artikelen {
    padding-top: 30px;
    border-top: 2em solid #F0F0F0;
    width: 100vw;
    
}

figcaption {
    margin-bottom: 10px;
}

.nieuws2 {
    font-family: "CapitoliumHead";
    width: 100vw;
    font-size: 22px;
    margin-bottom: 30px;
    
}

p {
    margin: 0em;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: .2em;
    margin-right: .2em;
    font-size: 1.8em;
    font-family: "BentonSans";
}

.nietbold {
    font-size: 1em;
    margin-bottom: 1em;
}

.martelkamer {
    width: 100vw;
    margin-right: 20px;
}

main aside nav {
  overflow-x: auto; 
  overflow-y: hidden;
  height: 50px;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

main aside nav ul  {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-family: 'Benton-Light';
    font-size: 14px;
    height: 100%;
    background-color: white;
    color: black;
    padding-top: 0.5em;
    text-decoration: none;
    border-top: 1px solid black;
}
