/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin-left: 20px;
    margin-right: 20px;
    width: 100vw;

}

.titel {}

nav {


    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: #333;
   display: flex;
 

    background: #f1f1f1;
    border-top: 1px solid black;
    border-bottom: 1px solid black;



    font-size: 20px;


}

nav ul {


    display: flex;
}


    
    
}

nav ul li:hover {
    color: white;
    text-decoration-line: underline;
}

nav a {
    color: darkgrey;
}

nav a:hover {
    color: black;
    text-decoration: none;
}

header > a {
    font-size: 65px;
    display: block;
    margin-bottom: 20px;
    border-bottom: 0.5px solid black;
    text-decoration: none;
    font-family: monospace;
    color: black;
}

img {
    margin-top: 20px;
    border-bottom: 0.5px solid black;
}

.container {
    float: left;
}

.child {
    width: 50px;

}

.parent {

    overflow: hidden;
}

.child-one {
    position: sticky;
    top: 0;
}

h1 {
    padding-top: 10px;
    border-top: 5px solid blue;
    font-size: 35px;
}

section {
    width: 600px;
    border-right: 1px solid gainsboro;
}

figcaption {
    border-bottom: 1px solid black;
    position: relative;
    font-size: 20px;
    width: 60vw;
    padding-bottom: 10px;
}

footer {
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
    width: 100vw;
    padding-top: 2em;


}

.bold {
    font-weight: bold;
    color: black;
    line-height: 2;
}

.nieuws {
    width: 100vw;
}

.rusland {
    margin-top: 10px;
    border-top: 1px solid black;
    width: 100vw;
}

.rusland-caption {
    font-size: 20px;
    padding-top: 10px;
    width: 70vw;
    border: none;
}

li a {
    text-decoration: none;
    padding: 100px;
    line-height: 1.4;
    text-align: left;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.voetbal {
    border-top: 10px solid grey;
    width: 100vw;
}

.politiek {
    border-top: 10px solid grey;
    width: 100vw;
}

.geen {
    border: none;
}